version: '3.8'

services:
  imzml-converter:
    build: .
    image: ghcr.io/m2aia/m2converter:latest
    volumes:
      - ./input:/input:ro
      # Mount output directory
      - ./output:/output
    command: [
      "/input/01.imzML",
      "--output-dir", "/output",
      "--tolerance", "75",
      "--save-nrrd",
      # "--centroids", "100.0", "200.0", # Specify specific m/z values
      # "--save-npy-spatial",            # Save as 3D numpy array
      # "--save-npy-list",               # Save as 2D numpy list
      # "--npy-output", "data.npy"       # Custom numpy output filename
    ]

